.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Urbanist';
}
.navbar .logo{
    display: flex;
    align-items: center;
}
.navbar .logo h2{
    margin-left: 10px;
}
.nav{
    padding: 20px 80px;
}
.navbar ul{
    display: flex;
    align-items: center;
}
.navbar ul li{
    list-style-type: none;
    margin-right: 25px;
    cursor: pointer;
    font-size: 1.2rem;
}
.cartIconsSection{
    display: flex;
    align-items: center;
}
.cartIcons{
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
}